<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tuyển sinh</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="topnav">
        <a href="/">Trang chủ</a>
        <a class="active" href="/create">Tạo hồ sơ</a>
    </div>

    <div class="form-add-users">
        <fieldset>
            <div class="input-group">
                <label>Ngành:</label>
                <select id="nganh">
                    <option value="CNTT">Công nghệ thông tin</option>
                    <option value="KHMT">Khoa học máy tính</option>
                    <option value="KHDL">Khoa học dữ liệu</option>
                    <option value="DTVT">Điện tử viễn thông</option>
                </select><button id="btnThongTinNganh">chọn</button><br />
            </div>
            <div class="input-group">
                <label>Chỉ tiêu lấy:</label>
                <input type="number" id="soChitieu" name="soChitieu" style="display: none;" readonly value="" /><br />
            </div>
        </fieldset>
    </div>

    <div class="form-add-users">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Thêm hồ sơ mới</legend>
                <div class="input-group">
                    <label>Tên: </label>
                    <input type="text" name="ten" />
                </div>
                <div class="input-group">
                    <label>Địa chỉ: </label>
                    <input type="text" name="diaChi" />
                </div>
                <div class="input-group">
                    <label>Mã số: </label>
                    <input type="number" name="maSo" />
                </div>
                <div class="input-group">
                    <label>Điểm 3 môn: </label>
                    <input type="number" name="diem3Mon" min="0" max="30" step="0.1" />
                </div>
                <div class="input-group">
                    <label>Ngành đã chọn: </label>
                    <input type="text" name="nganhHoc" readonly value="" />
                </div>

                <div>
                    <button style="margin: 10px;cursor: pointer;"> Save</button>
                </div>
            </fieldset>
        </form>
    </div>

    <script>
        const btnChon = document.querySelector('#btnThongTinNganh');
        btnChon.addEventListener('click', () => {
            const nganh = document.querySelector('#nganh');
            const soChitieu = document.querySelector('#soChiTieu');
            const nganhHoc = document.querySelector('input[name = "nganhHoc"]');
            //console.log(nganh.value);

            switch (nganh.value) {
                case 'CNTT':
                    soChitieu.value = <%=listNganh[0].getSoChiTieu() %>;
                    nganhHoc.value = 'CNTT';
                    break;
                case 'KHMT':
                    soChitieu.value = <%=listNganh[1].getSoChiTieu() %>;
                    nganhHoc.value = 'KHMT';
                    break;
                case 'KHDL':
                    soChitieu.value = <%=listNganh[2].getSoChiTieu() %>;
                    nganhHoc.value = 'KHDL';
                    break;
                case 'DTVT':
                    soChitieu.value = <%=listNganh[3].getSoChiTieu() %>;
                    nganhHoc.value = 'DTVT';
                    break;
            }
            document.querySelector("#soChitieu").style.display = "inline";
        })

    </script>

</body>

</html>